*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #7a0915;
}
.App{
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}
.inputs{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs input{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin: 8px 0;
  padding-left: 10px;
}
.inputs button{
  margin-top: 20px;
  width: 100px;
  height: 40px;
}

.pdf-container{
  width: 80%;
  height: 99vh;
}
.pdfViewer{
  width: 100%;
  height: 100%;
  /* border: none; */
}